<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="CommandLineConfig" packages="org.infinispan.commons.logging.log4j">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t) [%c{1}] %m%throwable{10}%n"/>
        </Console>
        <File name="FILE" fileName="target/protostream.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t:%x) [%c{1}] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.infinispan.protostream" level="DEBUG"/>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT" level="FATAL"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
